---
import '../../styles/home_slider_2.css';
import PersonalizacionImagen from "./personalizacion_imagen.astro";
import PersonalizacionTexto from "./personalizacion_texto.astro";
---
<div class="content_slider_2">
    <PersonalizacionTexto/>
    <PersonalizacionImagen/>
</div>