---
import '../../styles/home_slider_2.css';
---

<div class="content_slider_2_parrafo">
    <div class="content_slider_2_parrafo_margen">
    <!-- Botón de cotizar    -->
    <div class="boton_cotizar"><a class="bee-button-content" href="http://example.com" style="" target="_self">
        <span style="word-break: break-word; font-size: 16px; line-height: 200%;">Cotizar 🚀 </span>
    </a>
    </div>
    <!-- Botón de cotizar    -->
    </div>  
				
</div>