---
import '../../../styles/components/logo.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/dqryrvrzh/image/upload/v1698031154/The%20House%20Exclusive/Logo/Lighthouse_Icon_Music_Studio_Logo_2_r5oah1.png";

---
<div class="content_logo">
    <div class="div_logo">
        <a href="/">
            <Image src={UrlImgLogo} alt="descriptive text" 
            width={60} height={60} format={"webp"} loading="eager" decoding="auto"/>
        </a>
    </div>
</div>