---
import '../../../styles/components/header.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/dqryrvrzh/image/upload/v1698636964/The%20House%20Exclusive/Logo/favicon-512x512_kwxfbb.png";
---
<div class="div_logo_movil">
    <Image src={UrlImgLogo} alt="descriptive text" 
            width={384} height={384} format={"webp"} loading="eager" decoding="auto"/>
</div>