---
import '../../../styles/components/logo.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/dqryrvrzh/image/upload/v1698636964/The%20House%20Exclusive/Logo/favicon-512x512_kwxfbb.png";

---
<div class="content_logo">
    <div class="div_logo">
        <a href="/">
            <Image src={UrlImgLogo} alt="descriptive text" 
            width={512} height={512} format={"webp"} loading="eager" decoding="auto"/>
        </a>
    </div>
</div>