---
import '../../../styles/components/logo.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "/public/favicons/favicon-384x384.png";

---
<div class="content_logo">
    <div class="div_logo">
        <a href="/">
            <Image src={UrlImgLogo} alt="descriptive text" 
            width={512} height={512} format={"webp"} loading="eager" decoding="auto"/>
        </a>
    </div>
</div>