---
import '../../../styles/components/header.css';
import LogoMovil from './logo_movil.astro';
import IconBuscador from '../icons/icon_buscador.astro';
import IconFotosVideos from '../icons/icon_fotosvideos.astro';
import IconIniciarSesion from '../icons/icon_iniciarsesion.astro';
import IconCarrito from '../icons/icon_carrito_car.astro';
import IconMenu from '../icons/icon_menu.astro';
---
<nav class="content_navbar_movil drop-shadow-lg">
    <div class="content_divs_icons">
        <a href="/" class="nav_logo_movil text-black ">
            <LogoMovil/>
        </a>
        <a href="/" class="nav_logo_movil text-black ">
            <div class="div_nav_icons_movil">
                <div class="icon_nav">
                <IconBuscador/>
                </div>
                <div class="title_icon_nav">
                    Buscar
                </div>                
            </div>
        </a>
        <a href="/" class="nav_logo_movil text-black ">           
            <div class="div_nav_icons_movil">
                <div class="icon_nav">
                    <IconFotosVideos/>
                </div>
                <div>
                    Media
                </div>                
            </div>
        </a>
        <a href="/" class="nav_logo_movil text-black ">
            <div class="div_nav_icons_movil">
                <div class="icon_nav">
                    <IconCarrito/>
                </div>
                <div>
                    Carrito
                </div>                
            </div>
        </a>
        <a href="/" class="nav_logo_movil text-black ">
             
             <div class="div_nav_icons_movil">
                <div class="icon_nav">
                    <IconIniciarSesion/>
                </div>
                <div>
                    Sesión
                </div>                
            </div>
        </a>
        <a href="/" class="nav_logo_movil text-black">
            <div class="div_nav_icons_movil">
                <div class="icon_nav">
                    <IconMenu/>
                </div>
                <div>
                    Menú
                </div>                
            </div>
        </a>
    </div>
  </nav>
  
