---
import '../../../styles/components/header.css';
---
<nav class="content_navbar_movil drop-shadow-lg">
    <div class="content_divs_icons">
        <a href="/" class="text-black">
            <div>
                1
            </div>       
        </a>
        <a href="/" class="text-black">
            <div>
                2
            </div>  
        </a>
        <a href="/" class="text-black">
            <div>
                3
            </div>  
        </a>
        <a href="/" class="text-black">
            <div>
                4
            </div>  
        </a>
        <a href="/" class="text-black">
            <div>
                5
            </div>  
        </a>
        <button class="text-black">
            <div>
                6
            </div>  
        </button>
    </div>
  </nav>
  
