---
import '../../../styles/components/header.css';
import LogoMovil from './logo_movil.astro';
import IconBuscador from '../icons/icon_buscador.astro';
import IconFotosVideos from '../icons/icon_fotosvideos.astro';
import IconIniciarSesion from '../icons/icon_iniciarsesion.astro';
---
<nav class="content_navbar_movil drop-shadow-lg">
    <div class="content_divs_icons">
        <a href="/" class="nav_logo_movil text-black">
            <LogoMovil/>
        </a>
        <a href="/" class="nav_logo_movil text-black">
           <IconBuscador/>
        </a>
        <a href="/" class="nav_logo_movil text-black">
            <IconFotosVideos/>
        </a>
        <a href="/" class="nav_logo_movil text-black">
            4
        </a>
        <a href="/" class="nav_logo_movil text-black">
             <IconIniciarSesion/>
        </a>
        <a href="/" class="nav_logo_movil text-black">
            6
        </a>
    </div>
  </nav>
  
