@import '../colors.css';
.content_navbar_escritorio{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1000;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content_navbar_movil{
    display: none;
    
}
.content_divs_icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav_logo_movil{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_logo_movil{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_nav_icons_movil{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(99, 118, 99, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
}
.icon_nav{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_icon{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_buscar:hover{
    color: var(--color-1);
    background-color: var(--color-6);
}
.nav_media:hover{
    color: var(--color-1);
    background-color: var(--color-6);
}
.nav_carrito:hover{
    color: var(--color-1);
    background-color: var(--color-6);
}
.nav_sesion:hover{
    color: var(--color-1);
    background-color: var(--color-6);
}
.nav_menu:hover{
    color: var(--color-1);
    background-color: var(--color-6);
}

@media (max-width: 750px) {
    .content_navbar_escritorio{
        display: none;
    }
    .content_navbar_movil{
        width: 100%;
        height: 10vh;
        position: fixed;
        z-index: 1000;
        background-color: var(--color-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
