@import '../../../styles/colors.css';

.carousel {
    width: 100%;
    height: 340px;
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button_carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-carousel{
    width: 25px;
}

@media (max-width: 750px) {
    .carousel{
        margin-top: 20px;
        height: 120px;
    }
    .button_carousel{
        margin:0;
        width: 30px;
        height: 30px;
    }
    .icon-carousel{
        width: 16px;
    }
}