@import '../../../styles/colors.css';

.content_slider_2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content_slider_2_parrafo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.content_slider_2_parrafo_margen{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: bisque;
}
.content_slider_2_imagen{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* --------------------------- */
.boton_cotizar{
    font-size: 16px; 
    background-color: #748231; 
    border-radius: 50px; 
    color: #ffffff; 
    direction: ltr; 
    font-family: 'Nunito', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight: 400; 
    max-width: 100%; 
    padding-bottom: 10px; 
    padding-left: 25px; 
    padding-right: 25px; 
    padding-top: 10px; 
    width: auto; 
    display: inline-block;
}


@media (max-width: 750px) {
    .content_slider_2{
        flex-direction: column;
    }
    .content_slider_2_parrafo{
        width: 100%;
    }
    .content_slider_2_imagen{
        width: 100%;
    }
    .slider_2_imagen_img{
        width: 100%;
    }
}