---
import '../../styles/home_slider_1.css';
import TituloEmpresa from './title_company.astro'
import Carrusel  from './carrousel';
import Categorias from './categories.astro';
---
<div class="content_slider_1">
    <div class="content_slider_1_header">
    </div>
    <div class="content_slider_1_titulo">
        <TituloEmpresa/>    
    </div>
    <div class="content_slider_1_carrusel">
        <Carrusel client:only />
    </div>
    <div class="content_slider_1_cateogries">
        <Categorias/>
    </div>
</div>