---
import '../../styles/titulo_empresa.css';
const nombre_empresa = "THE HOUSE EXCLUSIVE";
---

<div class="div_titulo_empresa dark:text-gray-200 font-bold font-heading leading-tighter  md:text-3xl text-3xl tracking-tighter">
    <span class="titulo_empresa">BIENVENIDOS</span> A {nombre_empresa}
</div>